<div className="App">
    <header className="App-header">
        <video id="player" style="
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 640px;
          height: 480px;
        "></video>
  
        <canvas id="player-canvas" style="
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          width: 640px;
          height: 480px;
        "></canvas>
    </header>
  </div>